<!-- launch file to start robopatrol -->
<launch>
  
  <!-- Map server -->
  <arg name="map_file"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- rosbridge websocket server -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" >
    <arg name="port" value="9090"/>
  </include>

  <!-- robot pose publisher -->
  <node name="robot_pose_publisher" pkg="robot_pose_publisher" type="robot_pose_publisher" />

</launch>
