<!-- launch file to start gazebo simulation and robopatrol stuff -->
<launch>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" >
    <arg name="port" value="9090"/>
  </include>
  <include file="$(find robopatrol)/launch/includes/robopatrol.launch" >
  </include>
  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch" >
  </include>
</launch>
