<!-- launch file to start gazebo simulation and robopatrol -->
<launch>
  <arg name="world_file" default="$(env TURTLEBOT_GAZEBO_WORLD_FILE)" doc="world file for gazebo simulation"/>
  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
    <arg name="world_file" value="$(arg world_file)"/>
  </include>
  <include file="$(find robopatrol)/launch/robopatrol.launch"></include>
</launch>
