<!-- launch file to start gazebo simulation and robopatrol -->
<launch>
  <arg name="world_file" default="$(env TURTLEBOT_GAZEBO_WORLD_FILE)" doc="world file for gazebo simulation"/>
  <arg name="map_file" default="$(env TURTLEBOT_GAZEBO_MAP_FILE)" doc="map file for gazebo simulation"/>

  <!-- gazebo simulation -->
  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
    <arg name="world_file" value="$(arg world_file)"/>
  </include>

  <!-- robopatrol -->
  <include file="$(find robopatrol)/launch/robopatrol.launch">
    <arg name="map_file" value="$(arg map_file)"/>
  </include>
</launch>
