<!-- launch file to run robopatrol on turtlebot -->
<launch>
  <arg name="map_file"/>

  <include file="$(find turtlebot_bringup)/launch/minimal.launch"></include>
  <include file="$(find robopatrol)/launch/robopatrol.launch">
    <arg name="map_file" value="$(arg map_file)"/>
  </include>
</launch>
